{% extends "base.html" %}
{% block content %}

<div id="slide1" class="about-splash">
  <h1 class="head-title noselect">
    About
  </h1>
</div>

<div class="container-fluid">
  <div class="row row-fluid">
    <div class="col-md-1">
    </div>
    <div class="col-md-5 col-pad col-pad-top-3">
      <h2>Why TASA? </h2>
      <p class="text-justify">
        Home. Family. Memories. When we ask people to describe TASA, these are the words that never fail to show up in the answers. 
        Our members come from vastly different backgrounds, and TASA is a space for us to embrace and celebrate all those unique experiences, 
        while connecting through our shared passion for Taiwanese American heritage and culture. The Taiwanese-American identity is a 
        complex one—not definable by any one set of criteria, but a combination of the diverse experiences of all Taiwanese-Americans. 
        It is an ever-changing identity, which is what makes our work at TASA so rewarding and so exciting to do.</p>
    </div>
    <div class="col-md-5 col-pad col-pad-top-3">
      <h2>Our Mission</h2>
      <p class="text-justify">
        The Taiwanese American Student Association at the University of California, Berkeley is dedicated to promoting the unity 
        and cooperation of Taiwanese-Americans in the community, the presence of the Taiwanese American community in local and national arenas, 
        and the culture and identity of Taiwanese-Americans. TASA will hold events bringing together people of all backgrounds and ideals, 
        uniting them by a common culture and interest, and together building the awareness of Taiwanese-Americans for their own identity and 
        culture, knowledge in their heritage, and strong recognition from others.</p>
    </div>
    
  </div>
  <div class="row row-fluid">
    <div class="col-md-1">
    </div>
    <div class="col-md-5 col-pad">
      <h2>Families</h2>
      <p class="text-justify">
        One of TASA's biggest draws is the family system! Families provide an opportunity to get to know other members on a more personal 
        level in smaller and more frequent get-togethers. Some fun family events we've had in the past include picnics, water balloon fights, 
        making dumplings, and just getting a bite to eat with your family! There are no rules about sticking only to one family, so feel free 
        to attend any or all of our family events and find some lifelong friends!</p><br>
      <p class="text-right">
        <a href="/families">See our Families &raquo;</a>
      </p>
    </div>
`   <div class="col-md-5 col-pad">
      <h2>Cabinet</h2>
      <p class="text-justify">
        We wouldn't be able to do anything at TASA without our lovely cabinet! Officers plan and organize all of the events for our members 
        and work hard to make sure that everyone has a good time. We're a diverse group hailing from all over the world, and we're proud to 
        call TASA home. If you're interested in joining our cabinet, please check out the intern and officer applications here! We would 
        love to welcome you to our TASA family!<br><br><br></p>
        <p class="text-right">
          <a href="/officers">Meet our Officers &raquo;</a>
        </p>
      </div>
  </div>
</div>



{% endblock %}