{% extends "base.html" %}
	{% block content %}

	<div id="slide1" class="about-splash">
        <h1 class="head-title noselect">
          About
        </h1>
      </div>

      <div class="container-fluid">
        <div class="row row-fluid">
           <div class="col-md-1">
            </div>
            <div class="col-md-5 col-pad col-pad-top-3">
              <h2>Why TASA? </h2>
              <p class="text-justify">
                The Taiwanese-American identity is a vastly varied one and at times a divisive issue. Moreover, there is political and cultural apathy among many Taiwanese, and under-representation in our communities. Yet, from those who barely identify themselves as Taiwanese, to those who feel passionately about Taiwanese culture, they are all still unified under a common background. Those with the Taiwanese-American identity have the potential to develop into a tight-knit community and strong leaders with a unified voice in this nation.</p>
              </div>
              <div class="col-md-5 col-pad col-pad-top-3">
                <h2>Our Mission</h2>
                <p class="text-justify">
                  The Taiwanese American Student Association at the University of California, Berkeley is dedicated to promoting the unity and cooperation of Taiwanese-Americans in the community, the presence of the Taiwanese American community in local and national arenas, and the culture and identity of Taiwanese-Americans. TASA will hold events bringing together men and women of all backgrounds and ideals, uniting them by a common culture and interest, and together building the awareness of Taiwanese-Americans of their own identity and culture, knowledge in their heritage, and strong recognition from others.</p>
                </div>

        </div>
      </div>

    {% endblock %}
