{% extends "base.html" %}
  {% block content %}

  <div id="slide1" class="checkin-splash">
        <h1 class="head-title noselect">
          Contact
        </h1>
      </div>
      <div class="container-fluid">
        <div class="row row-pad event">
          <div class="col-md-4 col-pad">
              <h2>Virtual Tabling Hours</h2>
              <ul class="list-unstyled">
                  <li>
                <!-- <li><h5>Virtual Tabling Hours</h5> -->
                    <p class="text-justify">
                    Discord<br>
                    Monday-Friday 10am-12pm and 7pm-10pm PST</p>
                    </li>
                    <li><h5>Email</h5>
                    <a href="mailto:tasa.berkeley@gmail.com">Cabinet</a><br>
                    <a href="mailto:margaret.chiang@berkeley.edu">President</a><br>
                    <a href="mailto:brandon.yu@berkeley.edu">Webmaster</a>
                    </li>
                </ul>
          </div>
          <div class="col-md-8 col-pad">
          	<h2>Social Media</h2>
              <ul class="list-unstyled">
                <li><h5>Mailing List</h5>
                  <a href="http://eepurl.com/vI0-D" target="_new">Subscribe</a>
                </li>
                <li><h5>Like Us</h5>
                  <img src="../static/images/assets/fb_like_icon.png" width="15" height="15" /> <a href="https://www.facebook.com/tasa.berkeley" target="_new">Facebook Page</a>
                </li>
                <li><h5>Follow Us</h5>
                  <img src="../static/images/assets/insta_logo_icon.png" width="15" height="15" /> <a href="https://www.instagram.com/tasa.berkeley/" target="_new">Instagram</a>
                </li>
                <li><h5>Join Our Server</h5>
                  <img src="../static/images/assets/discord_icon.png" width="15" height="15" /> <a href="https://discord.gg/XYRacvEGTx" target="_new">Discord</a>
              </ul>
          </div>

      </div>
  </div>

  {% endblock %}