{% extends "base.html" %}
  {% block content %}

  <div id="slide1" class="donate-splash">
        <h1 class="head-title noselect">
          Donate
        </h1>
      </div>

      
      <div class="container-fluid"> 
        <div class="row row-pad event"> 
          <div class="col-md col-pad"> 
            <h2>Thank you!</h2>
            <p class="text-justify">TASA is always looking to bring the best experience to its members 
              and to the local Berkeley community. Due to recent school budget cuts and new regulations, 
              TASA is limited in event choices. Your donation to TASA will help us build a better student 
              group in Berkeley.<br><br>To further support us, you can also donate to our Venmo: @TASA-Berkeley!<br><br>Thank you very much for your support!</p>
          </div>

          <div class="col-md col-pad">
            <h2>How to Donate</h2>
            <p class="text-justify">Please make your checks payable to ASUC/TASA and mail to:<br><br>
            Taiwanese American Student Association<br>
            University of California<br>
            112 Hearst Gym, MC 4520<br>
            Berkeley, CA 94720-4520<br><br>
            You can also drop it off at the TASA table on Sproul Plaza during tabling hours, which are every weekday from 11:00 AM to 2:00 PM!
            </p>
          </div> 

          <div class="col-md col-pad"> 
            <h2>Membership</h2>
            <p class="text-justify">
              Membership fees are prices assciated with TASA that also help us fund general/family events and 
              accompany membership discounts for special events, like our end-of-the-year banquet! Here's a list of our optional
              membership fees:<br><br>
              Semester Fee: $10<br>
              Yearly Fee: $15<br>
              Lifetime Fee: $25 + Free TASA T-shirt<br>
            </p>
          </div>
        </div>
      </div>

    <div class="container-fluid">
      <div style="text-align:center">
        <div class="col-pad">
          <h2>A huge thank you to all of our sponsors below!</h2>
        </div>
      </div>

    <div class="container-fluid">
      <div class="row row-pad event">
        <div class="family-image-container col-md-4 col-pad">
          <div class="sponsor mobile-height" style="background-image: url(../static/images/fsdrinksv1.png)"></div>
        </div>
        <div class="family-image-container col-md-4 col-pad">
          <div class="sponsor mobile-height" style="background-image: url(../static/images/teco.jpg)"></div>
        </div>
        <div class="family-image-container col-md-4 col-pad">
          <div class="sponsor mobile-height" style="background-image: url(../static/images/formosa.png)"></div>
        </div>
        <div class="family-image-container col-md-4 col-pad">
          <div class="sponsor mobile-height" style="background-image: url(../static/images/bereal.png)"></div>
        </div>
        <div class="family-image-container col-md-4 col-pad">
          <div class="sponsor mobile-height" style="background-image: url(../static/images/pandaexpress.png)"></div>
        </div>
        <div class="family-image-container col-md-4 col-pad">
          <div class="sponsor mobile-height" style="background-image: url(../static/images/bobaguysv2.jpg)"></div>
        </div>
        <div class="family-image-container col-md-4 col-pad">
          <div class="sponsor mobile-height" style="background-image: url(../static/images/weward.png)"></div>
        </div>
      </div>
    </div>

   </div>
  </div>

  {% endblock %}