{% extends "base.html" %}
  {% block content %}

  <div id="slide1" class="donate-splash">
        <h1 class="head-title noselect">
          Donate
        </h1>
      </div>
      <div class="container-fluid">
        <div class="row row-pad event">
          <div class="col-md-4 col-pad">
          	<h2>Thank you!</h2>
          	<p class="text-justify">TASA is always looking to bring the best experience to its members and to the local Berkeley community. Due to recent school budget cuts and new regulations, TASA is limited in event choices. Your donation to TASA will help us build a better student group in Berkeley.<br><br>Thank you very much for your support!</p>
          </div>
          <div class="col-md-8 col-pad">
          	<h2>How to Donate</h2>
          	<p class="text-justify">Please make your checks payable to ASUC/TASA and mail to:<br><br>

          	  Taiwanese American Student Association<br>
	          University of California<br>
	          112 Hearst Gym, MC 4520<br>
	          Berkeley, CA 94720-4520<br><br>

			    You can also drop it off at the TASA table on Sproul Plaza during tabling hours, which are every weekday from 11:00 am to 3:00 pm.
          </div>
      </div>

      <div class="row row-pad event">
        <h3>You can also donate via Venmo: @TASA-berkeley</h3>
      </div>

    <div class="row row-pad event">
      <h2>Also, a big thank you to all of our sponsors!</h2>
    </div>

    <div class="container-fluid">
      <div class="row row-pad event">
        <div class="family-image-container col-md-4">
          <div class="sponsor mobile-height" style="background-image: url(../static/images/jamba.jpg)"></div>
          <h2 class="officer-name">Jamba Juice</h2>
        </div>
        <div class="family-image-container col-md-4">
            <div class="sponsor mobile-height" style="background-image: url(../static/images/teco.jpg)"></div>
            <h2 class="officer-name">TECO</h2>
        </div>
        <div class="family-image-container col-md-4">
          <div class="sponsor mobile-height" style="background-image: url(../static/images/yifang.jpg)"></div>
          <h2 class="officer-name">Yifang</h2>
        </div>
      </div>
   </div>


    </div>
  </div>

  {% endblock %}