{% extends "base.html" %}
{% block content %}

<div id="slide1" class="testimonials-splash">
  <h1 class="head-title noselect">
    Testimonials
  </h1>
</div>

<div class="container-fluid">
  <div class="row row-fluid">
    <div class="col-md-1">
    </div>
    <div class="col-md-5 col-pad col-pad-top-3">
      <h2></h2>
      <img class="test-picture" src="./static/images/officers/evan.jpg" onmouseover="this.src='./static/images/officers/Evan-hover.jpg';" onmouseout="this.src='./static/images/officers/evan.jpg';"></img>
    </div>
    <div class="col-md-5 col-pad col-pad-top-3">
      <h2>Why did you become a TASA Intern? </h2>
      <p>
        Meeting people in TASA before coming to Berkeley and in the first few weeks after arriving, everyone was very accepting no matter how well they knew you. Being Taiwanese, TASA allowed me to connect with so many others within Berkeley with whom I could relate to, and established a community I could trust very easily. I wanted to become an intern so I could assist in the execution of these events and bring others to this family that continuously grows.
        Being an intern is really fun, getting to learn from our respective officers without feeling lost in all the responsibility of the job. I would definitely recommend it because not only does it make you more involved with the wonderful TASA family, but it prepares you for an officer position or even future general job positions.</p>
        
        <span class="bolder">Evan Yang</span>
        <br/>
        <span class="bold">Treasurer Intern</span>
      </div>
    
  </div>
  <div class="row row-fluid">
    <div class="col-md-1">
    </div>
    <div class="col-md-5 col-pad col-pad-top-3">
      <h2></h2>
      <img class="test-picture" src="./static/images/officers/Ana-Testimonial.jpg" onmouseover="this.src='./static/images/officers/ana.jpg';" onmouseout="this.src='./static/images/officers/Ana-Testimonial.jpg';"></img>
    </div>
    <div class="col-md-5 col-pad col-pad-top-3">
      <h2>What was something you didn't expect as a TASA Intern? </h2>
      <p>
        I didn't expect to be so warmly accepted into the TASA family! I'm glad that I found such a loving community during my first in-person semester at college; I've learned a lot through my experience in TASA Outreach, and I'm grateful to be able to do such meaningful (and fun!) work.</p>
        
        <span class="bolder">Anastasia Yang</span>
        <br/>
        <span class="bold">Outreach Intern, Outreach Officer</span>
      </div>
    
  </div>
  <div class="row row-fluid">
    <div class="col-md-1">
    </div>
    <div class="col-md-5 col-pad col-pad-top-3">
      <h2></h2>
      <img class="test-picture" src="./static/images/officers/Tompson-Testimonial.jpg" onmouseover="this.src='./static/images/officers/TompsonHsu.jpg';" onmouseout="this.src='./static/images/officers/Tompson-Testimonial.jpg';"></img>
    </div>
    <div class="col-md-5 col-pad col-pad-top-3">
      <h2>Why did you become a TASA Officer? </h2>
      <p>
        The upgrade from intern to officer was really eye-opening--- not only was the experience great, it was 
        significantly different. I went from having very little work, and what little work I had was supervised closely, 
        so being an intern was a majorly social experience--- to having to do the entire position's work and not really having a guiding presence to follow or monitor me anymore. 
        Being more comfortable socially meant that I felt less pressure on the social front, and it balanced out with the increased work, and led to a really unique experience: from the friend-making/meeting stage of the intern semester, the officer semester's feeling of working together with everyone to make something really cohesive and awesome happen as a team was amazing. As Outreach officer, you get a lot of preparation time and lee-way to really let your creativity decide on whatever you'd like to do with your events in Heritage Week, Alumni Reunions, and Collab Planning.</p>
        
        <span class="bolder">Tompson Hsu</span>
        <br/>
        <span class="bold">Outreach Intern, Outreach Officer, External Vice President</span>
      </div>
    
  </div>
  <div class="row row-fluid">
    <div class="col-md-1">
    </div>
    <div class="col-md-5 col-pad ">
      <h2></h2>
      <img class="test-picture" src="./static/images/officers/austin.jpg" onmouseover="this.src='./static/images/officers/austin_fa21.jpg';" onmouseout="this.src='./static/images/officers/austin.jpg';"></img>
    </div>
    <div class="col-md-5 col-pad col-pad-top-3">
      <h2>Who should consider applying to your position?</h2>
      <p>
        Anyone should apply to be a treasurer. The soft skills this skill teaches can go a long way: from budgeting reimbursements to planning fundraisers to cold-emailing for sponsorships, the skills that come with this specific position is a great addition to the many leadership skills an officer will learn in TASA. On top of that, being an officer is a great way to be a part of a community and let's me take a break from all the academics.
      </p>
        
        <span class="bolder">Austin Chang</span>
        <br/>
        <span class="bold">Treasurer Intern, Treasurer Officer</span>
      </div>
    
  </div>
</div>

<div class="row row-fluid">
  <div class="col-md-1">
  </div>
  <div class="col-md-5 col-pad ">
    <h2></h2>
    <img class="test-picture" src="./static/images/officers/ryan_hsu_t.jpg" onmouseover="this.src='./static/images/officers/funny_ryan_hsu_t.jpg';" onmouseout="this.src='./static/images/officers/ryan_hsu_t.jpg';"></img>
  </div>
  <div class="col-md-5 col-pad col-pad-top-3">
    <h2>What was something you didn't expect as a TASA intern?</h2>
    <p>
      I didn't expect the TASA community to be so welcoming towards interns! As soon as I joined,  
      I felt a strong sense of community where I belonged despite joining so recently. 
      I would definitely recommend this experience for anyone looking for their Berkeley family!
    </p>
      
      <span class="bolder">Ryan Hsu</span>
      <br/>
      <span class="bold">Treasurer Intern, Treasurer Officer, Internal Vice President</span>
    </div>
  
</div>
</div>

{% endblock %}