{% extends "base.html" %}
{% block content %}

<div id="slide1" class="testimonials-splash">
  <h1 class="head-title noselect">
    Testimonials
  </h1>
</div>

<div class="container-fluid">
  <div class="row row-fluid">
    <div class="col-md-1">
    </div>
    <div class="col-md-5 col-pad col-pad-top-3">
      <h2></h2>
      <img class="test-picture" src="./static/images/officers/evan.jpg" onmouseover="this.src='./static/images/officers/Evan-hover.jpg';" onmouseout="this.src='./static/images/officers/evan.jpg';"></img>
    </div>
    <div class="col-md-5 col-pad col-pad-top-3">
      <h2>Why did you become a TASA Intern? </h2>
      <p>
        Meeting people in TASA before coming to Berkeley and in the first few weeks after arriving, everyone was very accepting no matter how well they knew you. Being Taiwanese, TASA allowed me to connect with so many others within Berkeley with whom I could relate to, and established a community I could trust very easily. I wanted to become an intern so I could assist in the execution of these events and bring others to this family that continuously grows.
        Being an intern is really fun, getting to learn from our respective officers without feeling lost in all the responsibility of the job. I would definitely recommend it because not only does it make you more involved with the wonderful TASA family, but it prepares you for an officer position or even future general job positions.</p>
        
        <span class="bolder">Evan Yang</span>
        <br/>
        <span class="bold">Treasurer Intern</span>
      </div>
    
  </div>
  <div class="row row-fluid">
    <div class="col-md-1">
    </div>
    <div class="col-md-5 col-pad col-pad-top-3">
      <h2></h2>
      <img class="test-picture" src="./static/images/officers/Ana-Testimonial.jpg" onmouseover="this.src='./static/images/officers/ana.jpg';" onmouseout="this.src='./static/images/officers/Ana-Testimonial.jpg';"></img>
    </div>
    <div class="col-md-5 col-pad col-pad-top-3">
      <h2>What was something you didn't expect as a TASA Intern? </h2>
      <p>
        I didn't expect to be so warmly accepted into the TASA family! I'm glad that I found such a loving community during my first in-person semester at college; I've learned a lot through my experience in TASA Outreach, and I'm grateful to be able to do such meaningful (and fun!) work.</p>
        
        <span class="bolder">Anastasia Yang</span>
        <br/>
        <span class="bold">Outreach Intern, Outreach Officer</span>
      </div>
    
  </div>
  <div class="row row-fluid">
    <div class="col-md-1">
    </div>
    <div class="col-md-5 col-pad col-pad-top-3">
      <h2></h2>
      <img class="test-picture" src="./static/images/officers/Tompson-Testimonial.jpg" onmouseover="this.src='./static/images/officers/TompsonHsu.jpg';" onmouseout="this.src='./static/images/officers/Tompson-Testimonial.jpg';"></img>
    </div>
    <div class="col-md-5 col-pad col-pad-top-3">
      <h2>Why did you become a TASA Officer? </h2>
      <p>
        The upgrade from intern to officer was really eye-opening--- not only was the experience great, it was 
        significantly different. I went from having very little work, and what little work I had was supervised closely, 
        so being an intern was a majorly social experience--- to having to do the entire position's work and not really having a guiding presence to follow or monitor me anymore. 
        Being more comfortable socially meant that I felt less pressure on the social front, and it balanced out with the increased work, and led to a really unique experience: from the friend-making/meeting stage of the intern semester, the officer semester's feeling of working together with everyone to make something really cohesive and awesome happen as a team was amazing. As Outreach officer, you get a lot of preparation time and lee-way to really let your creativity decide on whatever you'd like to do with your events in Heritage Week, Alumni Reunions, and Collab Planning.</p>
        
        <span class="bolder">Tompson Hsu</span>
        <br/>
        <span class="bold">Outreach Intern, Outreach Officer, External Vice President</span>
      </div>
    
  </div>
  <div class="row row-fluid">
    <div class="col-md-1">
    </div>
    <div class="col-md-5 col-pad ">
      <h2></h2>
      <img class="test-picture" src="./static/images/officers/austin.jpg" onmouseover="this.src='./static/images/officers/austin_fa21.jpg';" onmouseout="this.src='./static/images/officers/austin.jpg';"></img>
    </div>
    <div class="col-md-5 col-pad col-pad-top-3">
      <h2>Who should consider applying to your position?</h2>
      <p>
        Anyone should apply to be a treasurer. The soft skills this skill teaches can go a long way: from budgeting reimbursements to planning fundraisers to cold-emailing for sponsorships, the skills that come with this specific position is a great addition to the many leadership skills an officer will learn in TASA. On top of that, being an officer is a great way to be a part of a community and let's me take a break from all the academics.
      </p>
        
        <span class="bolder">Austin Chang</span>
        <br/>
        <span class="bold">Treasurer Intern, Treasurer Officer</span>
      </div>
    
  </div>
</div>

<div class="row row-fluid">
  <div class="col-md-1">
  </div>
  <div class="col-md-5 col-pad ">
    <h2></h2>
    <img class="test-picture" src="./static/images/officers/ryan_hsu_t.jpg" onmouseover="this.src='./static/images/officers/funny_ryan_hsu_t.jpg';" onmouseout="this.src='./static/images/officers/ryan_hsu_t.jpg';"></img>
  </div>
  <div class="col-md-5 col-pad col-pad-top-3">
    <h2>What was something you didn't expect as a TASA intern?</h2>
    <p>
      I didn't expect the TASA community to be so welcoming towards interns! As soon as I joined,  
      I felt a strong sense of community where I belonged despite joining so recently. 
      I would definitely recommend this experience for anyone looking for their Berkeley family!
    </p>
      
      <span class="bolder">Ryan Hsu</span>
      <br/>
      <span class="bold">Treasurer Intern, Treasurer Officer, Internal Vice President</span>
    </div>
  
    <div class="row row-fluid">
      <div class="col-md-1">
      </div>
      <div class="col-md-5 col-pad col-pad-top-3">
        <h2></h2>
        <img class="test-picture" src="./static/images/officers/charlize_chen_t.jpg" onmouseover="this.src='./static/images/officers/funny_charlize_chen_t.jpg';" onmouseout="this.src='./static/images/officers/charlize_chen_t.jpg';"></img>
      </div>
      <div class="col-md-5 col-pad col-pad-top-3">
        <h2>Who should consider applying to your position? Would you recommend being an officer?</h2>
        <p>
          Even though I applied to Historian with limited photography experience, I have been able to slowly 
          develop my skills and have loved capturing small moments at TASA events. As historian, 
          I have the privilege of visually showcasing our welcoming community, the excitement of meeting new people, 
          and genuine care that TASA members dedicate to the club. While historians may typically be on the sidelines 
          during events, everyone in the club sees and acknowledges your hard work. Being Historian has been an 
          unexpectedly gratifying experience and I could not recommend it more! </p>
          <span class="bolder">Charlize Chen</span>
          <br/>
          <span class="bold">Family Head Intern, Historian</span>
        </div>

        <div class="row row-fluid">
          <div class="col-md-1">
          </div>
          <div class="col-md-5 col-pad col-pad-top-3">
            <h2></h2>
            <img class="test-picture" src="./static/images/officers/kailyn_yu_t.jpg" onmouseover="this.src='./static/images/officers/funny_kailyn_yu_t.jpg';" onmouseout="this.src='./static/images/officers/kailyn_yu_t.jpg';"></img>
          </div>
          <div class="col-md-5 col-pad col-pad-top-3">
            <h2>What was your favorite TASA event/memory as a member? </h2>
            <p>
              0.5 Gen Boba Run! This was the first event I went to for TASA, and I was very nervous about going because 
              I didn't know anyone there and didn't know what to expect. When I walked up to the group of people gathered 
              at the Glade, a super sweet and friendly person came up to me and introduced herself to me. We ended up 
              getting along extremely well, and now she's my officer and one of my best friends here at Berkeley :) 
              I also met some of my fellow interns at this event and other general members whom I would see continue 
              to return to club events. This makes me extremely thankful for having gone to that first meeting because 
              I have now found myself a community that supports me and accepts me for who I am. </p>
              
              <span class="bolder">Kailyn Yu</span>
              <br/>
              <span class="bold">Family Head Intern</span>
            </div>
        </div>

        <div class="row row-fluid">
          <div class="col-md-1">
          </div>
          <div class="col-md-5 col-pad col-pad-top-3">
            <h2></h2>
            <img class="test-picture" src="./static/images/officers/matt_chen_t.jpg" onmouseover="this.src='./static/images/officers/funny_matt_chen_t.jpg';" onmouseout="this.src='./static/images/officers/matt_chen_t.jpg';"></img>
          </div>
          <div class="col-md-5 col-pad col-pad-top-3">
            <h2>How was your experience in TASA and what did you learn from your position?</h2>
            <p>
              TASA has been a big part of my college life and I learned a lot in my position as a Fam Head. 
              One of the most important things I have learned is event organizing as well as scheduling to make 
              sure certain events will be smoothly ran and at an available time for everyone.</p>

              <span class="bolder">Matthew Chen</span>
              <br/>
              <span class="bold">Family Head Intern, Family Head</span>
            </div>
        </div>
        

</div>
</div>

{% endblock %}