 body {
	font-size: 16px;
	font-family: 'raleway', sans-serif;
	font-weight: 300;
	margin: 0;
	padding: 0;
	width: 100%;
	line-height: 200%;
	box-sizing: unset;
}

html {
    overflow-y:scroll;
	overflow-x: hidden;
}

.navbar {
	border-color: transparent;
}

.nav li a {
	color:rgb(255, 255, 255);
}

.nav-widen {
	padding: 0.1rem 1.5rem;
}

.navbar-fixed-top.scrolled {
	background-color: rgb(48, 48, 48) !important;
	transition: background-color 200ms linear;
	position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}
.navbar-fixed-top{ 
	background-color: rgba(255, 255, 255, 0)!important;
	transition:background-color 200ms linear; 
	position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

/* ============ desktop view ============ */
@media only screen and (min-width: 768px) {
	.nav .nav-item .dropdown-menu { 
		display: none;
	}

	.nav .nav-item:hover .dropdown-menu {
		display: block;
	}

	.nav .nav-item .dropdown-menu {
		margin-top:0;
	}
}	
/* ============ desktop view .end// ============ */

.nav > li > a:hover {
  color: #8a9cc2;
  text-decoration: none;  
}

.dropdown-item a:hover {
	float: none;
	color: black;
	text-decoration: none;
	display: block;
	text-align: left;
}

.dropdown-menu {
	background: rgba(255, 255, 255, 0); 
	border:rgba(27, 27, 27, 0);
	color: rgb(77, 77, 77);
}

.secondSplash {
	background-image:
	-webkit-linear-gradient(bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)), url("../images/fa21v1home1.jpg");
	background-image:
	linear-gradient(
		to bottom,
		rgba(0, 0, 0, 0),
		rgba(0, 0, 0, 0.5)
		),
	url("../images/fa21v1home1.jpg");
	font-family: 'Overlock', sans-serif;
	background-position: 47% 0%;
	display: block;
	background-size: 100% auto;
	background-attachment: fixed;
	height: 40em;
}

.thirdSplash {
	background-image:
	-webkit-linear-gradient(bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2)), url("../images/fa21v1home2.jpg");
	background-image:
	linear-gradient(
		to bottom,
		rgba(0, 0, 0, 0),
		rgba(0, 0, 0, 0.2)
		),
	url("../images/fa21v1home2.jpg");
	font-family: 'Overlock', sans-serif;
	-webkit-background-position: 47% 25%;
	background-position: 47% -10%;
	display: block;
	background-size: 100% auto;
	background-attachment: fixed;
	height: 40em;
}
.third-title {
	font-size: 6em;
	color: white;
	position: static;
	padding-left: 1em;
	padding-top: 5.5em;
	text-shadow: 2px;
	text-shadow: 1px 1px 10px #000000;
	margin: 0;
}

.flex-wrapper {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-flex-wrap: nowrap;
	-ms-flex-wrap: nowrap;
	flex-wrap: nowrap;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
}

.splash {
		background-image:
		-webkit-linear-gradient(top, rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.2)), url("../images/taipei.jpg");
		background-image:
		linear-gradient(
		to bottom,
		rgba(0, 0, 0, 0.0),
		rgba(0, 0, 0, 0.2)
		),
		url("../images/taipei.jpg");
		background-size: 100% auto;
  		background-attachment: fixed;
}

.welcome {
	padding-bottom:2em;
	background-color: #e5e4ec;
}

.black-box {
	background: black;
	width: 100%;
	height:40em;
	vertical-align: top;
}


/* Phones */
@media (max-width: 767px)
{
	.secondSplash {
		background-position: 47% 35%;
		background-attachment: scroll;
		background-size: cover;
	}
	.thirdSplash {
		background-position: 47% 35%;
		background-attachment: scroll;
		background-size: cover;
	}
	.flex-wrapper {
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		height: 60em;
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-webkit-flex-direction: column;
		-ms-flex-direction: column;
		flex-direction: column;
		-webkit-flex-wrap: nowrap;
		-ms-flex-wrap: nowrap;
		flex-wrap: nowrap;
		-webkit-box-align: center;
		-webkit-align-items: center;
		-ms-flex-align: center;
		align-items: center;
	}

	.logo {
		width: 10em;
        height: 10em;
		opacity: .6;
		-webkit-box-ordinal-group: 2;
		-webkit-order: 1;
		-ms-flex-order: 1;
		order: 1;
		margin-top: 10em;
	}

	.main-title {
		font-size: 2em;
		margin-top: 7em;
		margin-bottom: 5em;
		text-align:center;
		color: white;
		-webkit-box-ordinal-group: 3;
		-webkit-order: 2;
		-ms-flex-order: 2;
		order: 2;
	}

	.splash {
		-webkit-background-position: 60% 55%;
		background-position: 60% 55%;
		vertical-align: top;
		font-family: 'Overlock', sans-serif;
		display: block;
		background-size: cover;
		background-attachment: scroll;
	}

	.second-title {
		font-size: 2em;
		color: white;
		position: static;
		text-align:center;
		padding-left: .5em;
		padding-top: 16em;
		padding-bottom: 1em;
		padding-right: .5em;
		text-shadow: 1px 1px 10px #000000;
		margin: 0;

	}
	.third-title {
		font-size: 2em;
		color: white;
		position: static;	
		padding-left: 0;
		padding-top: 18em;
		padding-bottom: 2em;
		padding-right: .5em;
		text-align: center;
		text-shadow: 1px 1px 10px #000000;
		margin: 0;

	}
}

/* Tablets */
@media (min-width: 768px) and (max-width: 1199px)
{
	.secondSplash {
		background-position: 27% 35%;
		background-attachment: scroll;
		background-size: cover;
	}
	.thirdSplash {
		background-position: 27% 35%;
		background-attachment: scroll;
		background-size: cover;
	}
	.logo {
		width: 10em;
		opacity: .6;
		-webkit-box-ordinal-group: 2;
		-webkit-order: 1;
		-ms-flex-order: 1;
		order: 1;
		margin-top: 27em;
		margin-left: 5em;
	}

	.main-title {
		font-size: 2.5em;
		color: white;
		-webkit-box-ordinal-group: 3;
		-webkit-order: 2;
		-ms-flex-order: 2;
		order: 2;
		margin-left: auto;
		margin-right: auto;
		text-align: center;
		margin-top: 9em;
		z-index: 3;

	}


	.splash {
		height: 60em;
		width: 100%;
		background-position: 63% 55%;
		vertical-align: top;
		font-family: 'Overlock', sans-serif;
		display: block;
		background-size: cover;
		background-attachment: scroll;
	}

	.second-title {
		font-size: 3.5em;
		color: white;
		position: static;
		padding-left: 4.5em;
		padding-top: 10em;
		padding-bottom: 1em;
		margin: .5em;
		text-shadow: 1px 1px 10px #000000;
		margin: 0;

	}
	.third-title {
		font-size: 3.5em;
		color: white;
		position: static;
		padding-left: 1em;
		padding-top: 10em;
		padding-bottom: 1em;
		text-shadow: 1px 1px 10px #000000;
		margin: .5em;
		margin-top: 0;
	}
	.blue-box {
		background-color: rgb(99, 122, 190);
		width: 360px;
		height: 200px;
		position: absolute;
		opacity: 0.7;
		margin-top: 16em;
		z-index: 2;
		animation: Slide_Right_Op 1.2s ease;

	}
	.red-box {
		background-color:#fd8a7d;
		width: 1000px;
		height: 200px;
		position: absolute;
		opacity: 0.5;
		margin-top: 20em;
		margin-left: 8em;
		z-index: 1;
		animation: Slide_Left_Op 1.5s ease;

	}
}


/* Large Desktops */
@media (min-width: 1200px)
{
	.logo {
		width: 10em;
		opacity: .6;
		-webkit-box-ordinal-group: 2;
		-webkit-order: 1;
		-ms-flex-order: 1;
		order: 1;
		margin-top: 27em;
		margin-left: 5em;
	}

	.main-title {
		font-size: 3.5em;
		font-weight: 200;
		color: white;
		-webkit-box-ordinal-group: 3;
		-webkit-order: 2;
		-ms-flex-order: 2;
		order: 2;
		margin-left: auto;
		margin-right: auto;
		text-align: center;
		margin-top: 7em;
		z-index: 3;

	}
	.splash {
		height: 60em;
		width: 100%;
		background-position: 47% 55%;
		vertical-align: top;
		font-family: 'Overlock', sans-serif;
		display: block;
		background-size: cover;

	}

	.second-title {
		font-size: 5em;
		color: white;
		position: static;
		text-align: right;
		padding-right: 1em;
		padding-top: 6.5em;
		padding-bottom: .25em;
		text-shadow: 1px 1px 10px #000000;
		margin: 0;
	}
	.blue-box {
		background-color: rgb(99, 122, 190);
		width: 613px;
		height: 300px;
		position: absolute;
		opacity: 0.7;
		margin-top: 15em;
		z-index: 2;
		animation: Slide_Right_Op 1.2s ease;

	}
	.red-box {
		background-color:#fd8a7d;
		width: 1500px;
		height: 300px;
		position: absolute;
		opacity: 0.5;
		margin-top: 20em;
		margin-left: 16em;
		z-index: 1;
		animation: Slide_Left_Op 1.5s ease;

	}
}

@keyframes Slide_Left_Op {
	0% {
		transform: translateX(100%);

	}
	100% {
		transform: translateX(0);
	}
}

@keyframes Slide_Right_Op {
	0% {
		transform: translateX(-100%);
	}
	100% {
		transform: translateX(0);
	}
}

@keyframes Slide_Left {
	0% {
		transform: translateX(100%);
		opacity: 0;

	}
	100% {
		transform: translateX(0);
		opacity: 1;
	}
}

@keyframes Slide_Right {
	0% {
		transform: translateX(-100%);
		opacity: 0;

	}
	100% {
		transform: translateX(0);
		opacity: 1;

	}
}

@keyframes Slide_Up {
	0% {
		transform: translateY(100%);
		opacity: 0;

	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}
.first_text{
	text-align: center;
}

.Slide_Up {
	animation-name: Slide_Up;
}

.Slide_Left {
	animation-name: Slide_Left;
}

.Slide_Right {
	animation-name: Slide_Right;
}
.main_title {
	animation-delay: 1s;
}
.subtitle {
	animation-delay: 2s;
}
.first_title {
	animation-delay: 2.5s;
}
.first_body {
	animation-delay: 3s;
}

.second_title {
	animation-delay: 5.5s;
}

.second_body {
	animation-delay: 6s
}

.third_title {
	animation-delay: 8.5s
}

.third_body {
	animation-delay: 9s
}

.animate {
    animation-duration: 1s;
    animation-fill-mode: both;
}

.noselect {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.upcoming-event {
	width: 100%;
	height: auto;
	margin-bottom: 1em;
}

.pink {
	background-color: #e7877b;
	color: white;
}

.blue {
	background-color: rgb(131, 139, 187);
	color: white;
}

.footer {
	background-color: #e5e4ec;
	padding-top: 3em;
	margin-top: 0;
	color: rgb(119, 119, 119);
	font-size:1em;
}

.links {
	color:rgb(27, 27, 27) !important
}

.padded {
	margin: 0.5em;
}

.copyright {
	padding-top: 3em;
}

.col-pad {
	padding:1.5em
}

.col-pad-top-3 {
	padding-top: 3em;
}

.col-xtra-pad {
	padding:2.5em
}

.col-center-block {
	float: none;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.about-splash {
	background-image:
	-webkit-linear-gradient(top, rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.1)), url("../images/fa21v1about.jpg");
	background-image:
	linear-gradient(
		to bottom,
		rgba(0, 0, 0, 0.0),
		rgba(0, 0, 0, 0.1)
		),
	url("../images/fa21v1about.jpg");
	height: 40em;
	background-size: cover;
	width: 100%;
	vertical-align: top;
	font-family: 'Overlock', sans-serif;
	display: block;
	background-position-y: 45%;
}

.family-splash {
	background-image:
	-webkit-linear-gradient(top, rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.4)), url("../images/fa21v1families.jpg");
	background-image:
	linear-gradient(
		to bottom,
		rgba(0, 0, 0, 0.0),
		rgba(0, 0, 0, 0.4)
		),
	url("../images/fa21v1families.jpg");
	height: 40em;
	background-size: cover;
	width: 100%;
	vertical-align: top;
	font-family: 'Overlock', sans-serif;
	display: block;
	background-position: 0% 10%;
}

.family1 {
	background-position: 50% 0%;
	font-family: 'Roboto', sans-serif;
	display: block;
	background-size: cover;
	height: 20em;
	border-style: solid;
	border-width: .4em;
	border-color: #DDDDDD;
	width: 100%
}

.head-title {
	color: white;
	font-size: 7em;
	padding-top: 4.5em;
	padding-left: 1em;
	text-shadow: 1px 1px 10px #000000;
}

.eventSplash {
	background-image: url("../images/fa21v1events.jpg");
	font-family: 'Overlock', sans-serif;
	display: block;
	background-position: 0% 30%;
	background-size: cover;
	height: 40em;
	width: 100%;
	position: relative;
}

.darken-event {
	background-image:
	-webkit-linear-gradient(bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3)), url("../images/fa21v1events.jpg");
	background-image:
	linear-gradient(
		to bottom,
		rgba(0, 0, 0, 0),
		rgba(0, 0, 0, 0.3)
		),
	url("../images/fa21v1events.jpg");
}


.row-pad {
	padding-top: 2em;
}

.event-images {
	width: 100%;
	border-style: solid;
	border-width: .3em;
	border-color: #DDDDDD;
}



.row.event {
	max-width: 85%;
	margin: 0 7.5%;
}

.row.officer {
	max-width: 95%;
	margin: 0 2.5%;
}

@media (max-width: 767px) {
	.row.event {
		max-width: 98%;
		margin: 0 1%;
	}
}

p.event-text {
	font-size: 1em;
	margin: 0;
}

h3.event-subheader {
	margin-top: 1em;
	margin-bottom: .2em;
	font-size: .9em;
	color: #999999;
}

.scrapbookSplash {
	background-image: url("../images/fa21v1scrapbook.jpg");
	font-family: 'Overlock', sans-serif;
	display: block;
	background-position: 0% 30%;
	background-size: cover;
	height: 40em;
	width: 100%;
	position: relative;
}

.darken-scrapbook {
	background-image:
	-webkit-linear-gradient(bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3)), url("../images/fa21v1scrapbook.jpg");
	background-image:
	linear-gradient(
		to bottom,
		rgba(0, 0, 0, 0),
		rgba(0, 0, 0, 0.3)
		),
	url("../images/fa21v1scrapbook.jpg");
}

.btn-link {
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
    color: #999999;
    padding: 0;
    /* text-decoration: underline; */
    font-family: inherit;
    font-size: inherit;
}

.officer-splash {
	font-family: 'Overlock', sans-serif;
	display: block;
	background-position: 0% 65%;
	background-size: cover;
	height: 40em;
	width: 100%;
	background-image:
	-webkit-linear-gradient(top, rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.2)), url("../images/fa21v1officers.jpg");
	background-image:
	linear-gradient(
		to bottom,
		rgba(0, 0, 0, 0.0),
		rgba(0, 0, 0, 0.2)
		),
	url("../images/fa21v1officers.jpg");
}

.files-splash {
	font-family: 'Overlock', sans-serif;
	display: block;
	background-position: 0% 9%;
	background-size: cover;
	height: 40em;
	width: 100%;
	background-image:
	-webkit-linear-gradient(top, rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.2)), url("../images/fa21v1files.jpg");
	background-image:
	linear-gradient(
		to bottom,
		rgba(0, 0, 0, 0.0),
		rgba(0, 0, 0, 0.2)
		),
	url("../images/fa21v1files.jpg");
}

.checkin-splash {
	font-family: 'Overlock', sans-serif;
	display: block;
	background-position: 0% 40%;
	background-size: cover;
	height: 40em;
	width: 100%;
	background-image:
	-webkit-linear-gradient(top, rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.2)), url("../images/sp20v1checkin.jpg");
	background-image:
	linear-gradient(
		to bottom,
		rgba(0, 0, 0, 0.0),
		rgba(0, 0, 0, 0.2)
		),
	url("../images/sp20v1checkin.jpg");
}

.donate-splash {
	font-family: 'Overlock', sans-serif;
	display: block;
	background-position: 0% 25%;
	background-size: cover;
	height: 40em;
	width: 100%;
	background-image:
	-webkit-linear-gradient(top, rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.2)), url("../images/fa21v1donate.jpg");
	background-image:
	linear-gradient(
		to bottom,
		rgba(0, 0, 0, 0.0),
		rgba(0, 0, 0, 0.2)
		),
	url("../images/fa21v1donate.jpg");
}

.officer-title {
	color: white;
	font-size: 7em;
	padding-top: 4.80em;
	padding-left: 1em;
	text-shadow: 1px 1px 10px #000000;
}


.officer-name-right {
	color:white;
	font-size: 5em;
	margin-right: 1em;
	padding-top: 3.25em;
	text-shadow: 1px 1px 10px #000000;
	text-align: right;
}

.officer-position {
	color:white;
	font-size: 1.25em;
	margin-left: 2em;
	text-shadow: 1px 1px 10px #000000;
}

.officer-position-right {
	color:white;
	font-size: 3em;
	margin-right: 1.67em;
	text-shadow: 1px 1px 10px #000000;
	text-align: right;
}

.col-no-pad {
	padding: 0;
}

.col-left-pad {
	padding-left: 4em;
}

.col-right-pad {
	padding-right: 4em;
}

.quote {
	font-size: 1.2em;
	color: rgb(119, 119, 119);
	text-align: center;
	font-weight: 100;
    margin: 10px;
}


.quote-president {
	font-size: 1.5em;
	color: rgb(119, 119, 119);
	text-align: center;
	font-weight: 100;
}

.officer-desc-president {
	font-size: 1.2em;
}

.officer-name {
	font-size: 1.25em;
	text-align: center;
	color: rgb(80, 80, 80);
	margin-top: 0.5rem;
}

.officer-desc {
	font-size: 0.9em;
}

.officer-pad {
	padding: .5em 0;
}

.officer-img {
	margin:auto;
	display:block;
	height: 22em;
	border-style: solid;
	border-width: .4em;
	border-color: #DDDDDD;
}

.officer-img-pres {
	height: 25em;
}

@media (max-width: 767px) {
	.officer-name {
		font-size:2em;
	}
	.officer-position {
		font-size: 1em;
		margin-left: .5em;
	}
	.quote-president {
		font-size: 1.5em;
	}
	.quote {
		font-size: 1.3em;
	}
	.mobile-height {
		height: 15em;
	}
	.col-pad {
		padding: .5em;
	}
	.officer-title {
		padding: 0;
		margin: .5em;
		padding-top: 5em;
		font-size: 4em;
	}
	.officer-splash {
		height: 25em;
		background-position: 50% 0;
		margin-top: -1.8em;
	}
	.head-title {
		padding: 0;
		margin: .5em;
		padding-top: 5em;
		font-size: 4em;
	}
	.about-splash {
		height: 25em;
		background-position: 50% 0;
		margin-top: -1.8em;
	}
	.eventSplash {
		height: 25em;
		background-position: 50% 0;
		margin-top: -1.8em;
	}
	.family-splash {
		height: 25em;
		background-position: 50% 0;
		margin-top: -1.8em;
	}
	.files-splash {
		height: 25em;
		background-position: 30% 0;
		margin-top: -1.8em;
	}
	.donate-splash {
		height: 25em;
		background-position: 30% 0;
		margin-top: -1.8em;
	}

	.scrapbookSplash {
		height: 25em;
		background-position: 30% 0;
		margin-top: -1.8em;
	}

}

.parallax-image-wrapper {
	position:fixed;
	left:0;
	width:100%;
	overflow:hidden;
	height: 40em;
	top:0;
}

.faded {
	color: rgb(150, 150, 150);
}

.flash          { background: #cee5F5; padding: 0.5em;
                  border: 1px solid #aacbe2; }
.error          { background: #f0d6d6; padding: 0.5em; }

/** {
  outline: 1px red solid;
}*/

.officer-member-container {
    min-height: 300px;
    width: 820px;
    margin: 0 auto;
    float: none;
    display: block;
    padding: 50px 0;
}

@media (max-width: 820px) {
    .officer-member-container {
        width: 560px;
    }
}

@media (max-width: 530px) {
    .officer-member-container {
        width: 270px;
    }
}

.officer-member {
    width: 250px;
    height: 370px;
    background-color:white;
    position: relative;
    display: inline-block;
    margin: 10px;
    box-shadow: 0 0 10px #bfbeba;
}

.modal-open[style] {
	padding-right: 0px !important;
	}

.officer-member-picture {
    width: 100%;
    height: 250px;
    margin-bottom: 5px;
		object-fit: cover;
}

.officer-member-info {
    padding: 15px;
    font-size: 15px;
    line-height: 1.2;
}

.officer-member span {
    display: block;
}

.grow {
    transition: all .2s ease-in-out;
}

.grow:hover {
    transform: scale(1.1);
}

.officer-picture-modal {
    width: 100%;
    height: auto;
    margin: 0 auto;
    display: block;
}

@media (max-width: 530px) {
    .officer-picture-modal {
        width: 250px;
        height: 250px;
		overflow-x: hidden;
		overflow-y: hidden;
    }
}

p.file-text {
	font-size: 1.5em;
}

@media (max-width: 575px) { 
	.navbar-header {
		width: 100%;
	}
}


.navbar-toggler {
padding: .25rem .75rem;
font-size: 1.25rem;
line-height: 1;
background-color: transparent;
border: 1px solid transparent;
border-radius: .25rem;
float: right;
}

.desktopCalendar {
	position: relative;
	padding-bottom: 30%;
	width: 100%;
	height: 0;
	overflow: hidden;
	background-color: rgb(131, 139, 187);
}
	
.desktopCalendar iframe {
	position: absolute;
	top:0;
	left: 0;
	left: 0;
	right: 0;
	width: 65%;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
@media only screen and (max-width: 550px) {
	.desktopCalendar 
	{display:none;}
	}

.mobileCalendar {
	position: relative;
	padding-bottom: 40%;
	width: 100%;
	height: 450px;
	overflow: hidden;
	margin-left: auto;
	margin-right: auto;
	background-color: rgb(131, 139, 187);

}
	
.mobileCalendar iframe {
	position: absolute;
	top:0;
	left: 0;
	left: 0;
	right: 0;
	width: 75%;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

@media only screen and (min-width: 550px) {
	.mobileCalendar 
	{display:none;}
	}

.semester-carousels {
	position: relative;
	padding-top: 1em;
	top:0;
	left: 0;
	left: 0;
	right: 0;
	width: 55%;
	height: 50%;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
}

.semester-carousels h1{
	padding-top: 10px;
}

#tab-pane {
	height:100vh;
}
